h1{
    background-color: blueviolet;
    color:yellowgreen;
    border-left: 2px solid black;
}
body{
    background-color: rgb(220, 20, 60);
    color: #ffff00;
    margin-left: 2%;
}
p{
    background: rgba(0, 0, 0, 0.1);
}
